# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/
conda-env/
*.conda
*.yaml

# IDE settings
.vscode/
.idea/

# Build / dist
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Logs
*.log

# Data files (only ignore in data/ or results/ to keep code repo clean)
data/**/*.h5
data/**/*.h5ad
data/**/*.loom
data/**/*.mtx
data/**/*.csv
data/**/*.tsv
data/**/*.txt
data/**/*.gz
data/**/*.zip

results/**
figures/**
